.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .7rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .3rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

code{
  // background-color: #ffffe9;
  background-color: #fbe8c9;
  border-radius: 5px;
}

// for swiper
.swiper-container {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-button-prev::after, .swiper-button-next::after{
  color: #64ADFF;
}
.swiper-button-prev:hover::after, .swiper-button-next:hover::after{
  color: #007AFF;
}

// for spread sub menu
.spread-btn{
  left: 7%;
  position: absolute;
  padding: 0;
  padding-top: 2px;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}
.spread-btn:hover{
  color: grey;
}
.menu-wrapper {
  text-align: left;
  margin-left: 10%;
}
.submenu.menu-wrapper{
  position: absolute;
  background-color: rgb(34,31,32);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 15rem;
}
.submenu.menu-wrapper.hide{
  display: none;
}



// for my collapsible
.collapsible-title:hover {
  cursor: pointer;

  #section > span{
    text-shadow: 2px 2px 2px gray; 
  }
}
.collapsible-body[open]{
  display: block;
}
.collapsible-body{
  display: none;
}

.collapsible-mark{
  display: inline-block;
  width: 30px;
}

// for my class
.collapsible-body > p > img{

  padding: 5% 4%;
}

.ps-problem-img:hover{
  opacity: 0.5;
}

a::after{
  display: none;
}

// custom hydejack
.figcaption img {
  width: 100%;
}



// for top-menu
.top-menu-wrapper{
  display: inline;

  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox] ~ ul{
    display: none;
    list-style: none;
  }
  input[type=checkbox]:checked ~ ul{
    display: inline;
  }
}

.nav-btn, .nav-btn-bar{
  height: 3rem;
}
.top-menu.nav-btn{
  background: none;
  border: none;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  // height: 5rem;
  color: var(--menu-text);
  margin-left: -1px;
}
.nav-btn:hover{
  color: grey;
  // background-image: linear-gradient(90deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05))
  background-color: rgba(0,0,0,0.05);
}

.nav-span{
  flex: none;
}

.top-nav-item{
  display: inline;
}